@model Smart_Binance.Models.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "Index";
}

<script src="~/js/Chart/export-data.js"></script>
<script src="~/js/Chart/exporting.js"></script>
<script src="~/js/Chart/highcharts.js"></script>

<div class="row" style="padding-top:5%">
    <div class="col-xs-4" style="padding:0px">
        <h4 style="color:#cfcfcf">Assets</h4>
        <hr />
        <div id="container-assets" style="min-width: 310px; height: 190px; width: 190px; margin: 0 auto; background-color:transparent;"></div>
    </div>
    <div class="col-xs-1" style="padding:0px">

    </div>
    <div class="col-xs-7" style="padding:0px">
        <h4 style="color:#cfcfcf">Performance</h4>
        <hr />
        <div id="container-performance" style="min-width: 310px; height: 200px; width:auto; margin: 0 auto; background-color:transparent"></div>
    </div>
</div>

<div class="row" style="padding-top:5%">
    <div class="col-xs-4">
        <div style="border:1px solid #cfcfcf; border-radius:1em; width:100%; height:3em;">
            <div class="row">
                <div class="col-xs-6">
                    <h4 style="color:#cfcfcf; float:left; padding-left:1em">Trading Pair</h4>
                </div>
                <div class="col-xs-6">

                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-8">

    </div>
</div>
<style>
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover > h4:active {
        color:#f5bc00;
        height:3.53em;
    }
    .nav-tabs > li > a, .nav-tabs > li > a:focus, .nav-tabs > li > a:hover > h4 {
        color: #cfcfcf;
        height: 3.53em;
    }
    .nav > li > a {
        position: relative;
        display: block;
        padding: 0px 15px;
    }
    #text-color {
        color: #cfcfcf;
    }
    input {
        color: #cfcfcf;
    }
    text {
        color: #a5a5a5;
    }
    #form-lables {
        color: #a5a5a5;
    }
    #input-padd{
        padding-top:0.5em;
    }
    input, select, textarea {
        color: #a5a5a5;
        font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

        textarea:focus, input:focus {
            color: #a5a5a5;
            font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
</style>

<div class="row" style="padding-top:2%">
    <div class="col-xs-4" style="border-right:1px solid #cfcfcf; height:400px">
        @*<h4 style="color:#cfcfcf">Buy</h4>
        <hr />*@
        <ul class="nav nav-tabs" style="height:3.53em">
            <li class="active"><a data-toggle="tab" href="#buy"><h4>Buy</h4></a></li>
            <li><a data-toggle="tab" href="#sell"><h4>Sell</h4></a></li>
        </ul>
        <div class="tab-content">
            <div id="buy" class="tab-pane fade in active" style="padding-top:1em">
                <form action="CreateBuy">
                    <div id="input-padd">
                        <h4 id="form-lables" style="font-size:15px">Units</h4>
                            <center>
                                <input class="form-control" type="text" placeholder="0.000" />
                            </center>
                    </div>
                    <div id="input-padd">
                        <h4 id="form-lables" style="font-size:15px">Price</h4>
                            <center>
                                <input class="form-control" type="text" placeholder="0.000" />
                            </center>
                    </div>
                    <div id="input-padd">
                        <h4 id="form-lables" style="font-size:15px">Total</h4>

                        <center>
                            <input class="form-control" type="text" placeholder="0.000" />
                        </center>

                    </div>
                </form>
            </div>
            <div id="sell" class="tab-pane fade in"></div>
        </div>

    </div>
    <div class="col-xs-4" style="border-right:1px solid #cfcfcf; height:400px">
        <h4 style="color:#cfcfcf">Stop Loss</h4>
        <hr />
    </div>
    <div class="col-xs-4" style="height:400px">
        <h4 style="color:#cfcfcf">Take Profit</h4>
        <hr />
    </div>
</div>

<style>
    .chart-btn {
        background-image: url("https://i.imgur.com/OzlT6nt.png");
        background-size: cover;
        outline: none;
        padding: 0.001em;
        padding-bottom: 2em;
        background-color: transparent;
        width:4em;
        height:4em;
        border:none;
    }
        .chart-btn:hover, .chart-btn:focus {
            background-image: url("https://i.imgur.com/hMJCG4J.png");
        }
</style>

<div class="row" style="padding-top:10%">
    <div class="col-xs-12 container" style="width:100%">
        <center>
            <div style="padding-bottom:1em">
                <button class="chart-btn" type="button" data-toggle="collapse" data-target="#demo"></button>
            </div>
        </center>
        <div id="demo" class="collapse">
            <div class="tradingview-widget-container">
                <div id="tradingview_e83c3"></div>

                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                <script type="text/javascript">
                    new TradingView.widget(
                        {
                            "width": 980,
                            "height": 610,
                            "symbol": "BINANCE:BTCUSDT",
                            "interval": "D",
                            "timezone": "Etc/UTC",
                            "theme": "Light",
                            "style": "1",
                            "locale": "en",
                            "toolbar_bg": "#f1f3f6",
                            "enable_publishing": false,
                            "allow_symbol_change": true,
                            "container_id": "tradingview_e83c3"
                        }
                    );
                </script>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding-top:5%">
    <div class="col-xs-12" style="height:400px">
        <h4 style="color:#cfcfcf">Smart Trades</h4>
        <hr />

    </div>
</div>


<!-- TradingView Widget BEGIN -->


<!-- TradingView Widget END -->




<script>
    Highcharts.setOptions({
        colors: ['#c0c689', '#96fffb', '#ffe119', '#911eb4', '#fabebe', '#4363d8', '#bcf60c', '#f58231', '#008080', '#e6beff', '#9a6324', '#fffac8', '#800000', '#aaffc3', '#46f0f0', '#ffd8b1', '#000075', '#808080', '#ffffff', '#000000']
    });
    Highcharts.chart('container-assets', {
        chart: {
            backgroundColor: null,
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
            margin: [0, 0, 0, 0],
            spacingTop: 0,
            spacingBottom: 0,
            spacingLeft: 0,
            spacingRight: 0
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b> <br>Amount:{point.amount}</b> <br>Bitcoin Value:{point.bitcoinvalue} <br>USD Value:${point.usdvalue}'
        },
        plotOptions: {
            pie: {
                size:'100%',
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        exporting: {
            enabled: false
        }, credits: {
            enabled: false
        },
        series: [{
            name: 'Percent',
            colorByPoint: true,
            data: [
            @for (int i = 0; i < Model.Balances.Count - 1; i++)
            {
                    if (i == 2)
                    {
                        <text>
                        {
                            name: '@Model.Balances[i].Symbol',
                            y: @Model.Balances[i].BitcoinValue,
                            amount: @Model.Balances[i].Amount,
                            bitcoinvalue: @Model.Balances[i].Amount,
                            usdvalue: @Model.Balances[i].USDValue,
                            sliced: true,
                            selected: true
                        },
                        </text>
                    }else if (i < Model.Balances.Count - 2)
                    {
                        <text>
                        {
                            name: '@Model.Balances[i].Symbol',
                            y: @Model.Balances[i].BitcoinValue,
                            amount: @Model.Balances[i].Amount,
                            bitcoinvalue: @Model.Balances[i].BitcoinValue,
                            usdvalue: @Model.Balances[i].USDValue
                        },
                        </text>
                    }
                    else
                    {
                        <text>
                        {
                            name: '@Model.Balances[i].Symbol',
                            y: @Model.Balances[i].BitcoinValue,
                            amount: @Model.Balances[i].Amount,
                            bitcoinvalue: @Model.Balances[i].BitcoinValue,
                            usdvalue: @Model.Balances[i].USDValue
                        }]
                        </text>
                    }

            }
        }]
    });
</script>

<script>
    Highcharts.setOptions({
        colors: ['#7cb5ec', '#434348']
    });
    Highcharts.chart('container-performance', {
        chart: {
            backgroundColor: null,
            type: 'line'
        },
        title: {
            text: ''
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        yAxis: {
            labels: {
                format: '{value:.2f}'
            },
            title: {
                enabled: false
            }
        },
        exporting: {
            enabled: false
        }, credits: {
            enabled: false
        },
        series: [{
            name: 'BTC',
            data: [0.003345, 0.003045, 0.002945, 0.002545, 0.005255]
        },
        {
            name: 'USD',
            data: [13.82, 12.60, 11.25, 8.60, 19.08]
        }]
    });
</script>